LICENSE_SERVER_HOST="license.whaterver.de"
LICENSE_SERVER_PORT="28000"
SSH_TARGET="user@ssh_gateway.whatever.de"
NX_BASE_DIR="/wherever/install_ugs090/"
export NX_BUNDLES="ACD20,ACD21"
export UGII_JAVA_HOME="/usr/lib/jvm/java-7-openjdk-amd64/jre/"